/* ========== COMPONENTS ========== */

.c-button_primary {
  cursor: none;
  background: none;
  color: var(--color-grey-800);
  padding: calc(var(--4) + var(--0_5));

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--4);
  border: var(--px) solid var(--color-green-200);

  position: relative;
  overflow: hidden;

  transition: color 150ms ease-in-out;

  &:focus-visible {
    color: var(--color-green-200);
  }

  &:focus-visible .c-icon_arrow {
    fill: var(--color-green-200);
  }

  &:focus-visible .c-button_bg {
    transform: translate(-50%, 50%);
  }

  @media (width >= 48rem) {
    padding: var(--5);
  }

  @media (width >= 64rem) {
    &:hover {
      color: var(--color-green-200);
    }

    &:hover .c-icon_arrow {
      fill: var(--color-green-200);
    }

    &:hover .c-button_bg {
      transform: translate(-50%, 50%);
    }
  }
}

.c-icon_wrapper {
  display: flex;
  overflow: hidden;
  height: var(--3);
  width: var(--3);
}

.c-icon_arrow {
  transition: fill 150ms ease-in-out;
  fill: var(--color-grey-800);
  position: relative;
}

.c-button_bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 105%;
  height: 105%;
  background-color: var(--color-green-200);
  z-index: -1;
  pointer-events: none;

  transition: transform 1000ms cubic-bezier(0.1, 0, 0, 1);
}

/* ========== UTILITIES ========== */

.u-button_disabled {
  pointer-events: none;
  opacity: 0.3;
}
