/* ========== COMPONENTS ========== */

.c-checkbox {
  & input {
    display: none; /* hide original checkbox*/
  }

  & label {
    display: block;
    position: relative;
    padding-left: var(--9);
    padding-block: var(--2);

    cursor: none;

    user-select: none;
    outline: none;

    @media (width >= 48rem) {
      padding-left: var(--11);
    }
  }

  /* square */
  & label:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: var(--5);
    width: var(--5);
    background: transparent;
    border: var(--0_5) solid var(--color-grey-200);

    box-shadow: inset 0 0 0 0 var(--color-grey-800);

    transition: all 200ms ease-in-out;
  }

  /* checker */
  & label:after {
    content: "";
    position: absolute;
    left: calc(var(--0_5) + var(--px) / 2);
    top: 50%;
    width: var(--2);
    height: var(--3);
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    border-right: calc(var(--px) + var(--0_5)) solid var(--color-grey-850);
    border-top: calc(var(--px) + var(--0_5)) solid var(--color-grey-850);
    opacity: 0;
    transition: opacity 50ms;
  }

  /* checker visible */
  & input:checked + label::after {
    opacity: 1;
    transition: opacity 400ms;
  }

  & input:checked + label:before {
    background-color: var(--color-green-200);
    border-color: var(--color-green-200);
  }

  /* checkbox focus */
  & label:focus-visible::before {
    outline: var(--0_5) solid var(--color-grey-200);
    outline-offset: var(--1);
  }

  & input:checked + label:focus-visible::before {
    outline: var(--0_5) solid var(--color-grey-200);
    outline-offset: var(--1);
  }

  & input:not(:checked) + label:focus-visible::before {
    background-color: var(--color-grey-200);
    box-shadow: inset 0 0 0 var(--1) var(--color-grey-800);
    outline: none;
  }

  @media (width >= 64rem) {
    & input:not(:checked) + label:hover::before {
      background-color: var(--color-grey-200);
      box-shadow: inset 0 0 0 var(--1) var(--color-grey-800);
    }
  }
}

/* ========== LAYOUT ========== */

.o-list {
  display: flex;
  flex-direction: column;
}
