/* ========== SIZES ========== */
.f-preset_1 {
  font-size: var(--6);
  line-height: 130%;

  @media (width >= 48rem) {
    font-size: var(--8);
  }
}

.f-preset_2 {
  font-size: var(--6);
  line-height: 130%;
}

.f-preset_3 {
  font-size: var(--4);
  line-height: 130%;

  @media (width >= 48rem) {
    font-size: calc(var(--4) + var(--0_5));
  }
}

.f-preset_4 {
  font-size: var(--4);
  line-height: 130%;

  @media (width >= 48rem) {
    font-size: var(--6);
  }
}

/* ========== LAYOUT ========== */
.f-align\:center {
  text-align: center;
}

.f-align\:left {
  text-align: left;
}

.f-align\:right {
  text-align: right;
}

.f-margin_top-bottom {
  margin-block: var(--2);
}

/* ========== COLORS ========== */
.f-color\:grey-600 {
  color: var(--color-grey-600);
}

.f-color\:green-200 {
  color: var(--color-green-200);
}

.f-color\:red-500 {
  color: var(--color-red-500);
}
