/* ========== COMPONENTS ========== */

.c-password {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-800);
}

.c-button_secondary {
  padding: var(--4) var(--5);
  position: relative;
  line-height: 0;
  transition: box-shadow 150ms ease-in-out;

  &:focus-visible {
    box-shadow: 0 0 0 var(--0_5) var(--color-grey-200);
  }

  &:focus-visible .c-icon_copy {
    fill: var(--color-grey-200);
    transform: scale(1.2);
  }

  @media (width >= 48rem) {
    padding-inline: var(--8);
  }

  @media (width >= 64rem) {
    &:hover .c-icon_copy {
      fill: var(--color-grey-200);
      transform: scale(1.2);
    }
  }
}

.c-icon_copy {
  fill: var(--color-green-200);
  transition: fill 150ms ease-in-out, transform 150ms ease-in-out;

  @media (width >= 48rem) {
    width: var(--6);
    height: var(--6);
  }
}

.c-message_copy {
  position: absolute;
  right: 90%;
  pointer-events: none;

  padding: var(--4);
  padding-inline-end: var(--0);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-grey-800);
}

/* #========== LAYOUT ========== */

.o-password_text {
  padding: var(--4);
  width: 100%;

  @media (width >= 48rem) {
    padding: var(--5) var(--8);
  }
}

/* ========== UTILITIES ========== */

.u-disabled {
  color: var(--color-grey-700);
}
