/* ========== COMPONENTS ========== */

.c-password {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-800);
}

.o-password_text {
  padding: var(--4);
  width: 100%;
}

.c-button_secondary {
  padding: var(--4) var(--5);
  position: relative;
  line-height: 0;

  @media (width >= 64rem) {
    &:hover .c-icon_copy,
    &:focus-visible .c-icon_copy {
      fill: var(--color-grey-200);
      transform: scale(1.2);
    }
  }
}

.c-icon_copy {
  fill: var(--color-green-200);

  transition: fill 150ms ease-in-out, transform 150ms ease-in-out;
}

/* #========== LAYOUT ========== */

.o-message_copy {
  position: absolute;
  right: 90%;
  pointer-events: none;
}

/* ========== UTILITIES ========== */

.u-disabled {
  color: var(--color-grey-700);
}
