/* ========== COMPONENTS ========== */

.c-password {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey-800);
}

.c-button_secondary {
  cursor: none;
  padding: var(--4) var(--5);
  position: relative;
  line-height: 0;
  transition: box-shadow 150ms ease-in-out;

  &:focus-visible .c-icon_copy {
    fill: var(--color-grey-200);
  }

  @media (width >= 48rem) {
    padding-inline: var(--8);
  }

  @media (width >= 64rem) {
    &:hover .c-icon_copy {
      fill: var(--color-grey-200);
    }
  }
}

.c-icon_copy {
  fill: var(--color-green-200);
  transition: fill 150ms ease-in-out, transform 150ms ease-in-out;

  width: var(--5);
  height: var(--5);

  @media (width >= 48rem) {
    width: var(--6);
    height: var(--6);
  }
}

.c-message_copy {
  position: absolute;
  right: 90%;
  pointer-events: none;

  padding: var(--2);
  padding-inline-end: var(--0);
  padding-inline-start: var(--4);
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--color-grey-800);

  /* for animation in animate-password.js */
  clip-path: inset(100% 0 100 0);
}

/* #========== LAYOUT ========== */

.o-password_text {
  padding: var(--4);
  min-width: 1ch;
  width: 100%;

  @media (width >= 48rem) {
    padding: var(--5) var(--8);
  }
}

/* ========== UTILITIES ========== */

.u-disabled {
  color: var(--color-grey-700);
}
