/* ========== MAIN ========== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 700;
  color: var(--color-grey-200);

  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  background-color: hsl(248, 17%, 9%);

  cursor: none;
}

.cursor {
  opacity: 0;

  position: fixed;
  top: 0;
  left: 0;
  width: var(--3);
  height: var(--3);
  background-color: var(--color-red-500);
  border: var(--px) solid var(--color-red-500);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;

  transition: width 150ms ease-in-out, height 150ms ease-in-out,
    background-color 150ms ease-in-out, opacity 150ms ease-in-out;
}

body:has(a:hover) .cursor,
body:has(input:hover) .cursor,
body:has(button:hover) .cursor,
body:has(.noUi-touch-area:hover) .cursor {
  width: var(--7);
  height: var(--7);
  background-color: var(--color-red-500-transparent);
}

body:has(a:active) .cursor,
body:has(input:active) .cursor,
body:has(button:active) .cursor,
body:has(.noUi-touch-area:active) .cursor {
  width: var(--5);
  height: var(--5);
}

/* ========== COMPONENTS ========== */

.c-bg {
  background: var(--color-gradient-1);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (width >= 48rem) {
    justify-content: center;
    padding-block-end: 10svh;
  }

  @media (width >= 64rem) {
    /* for 3d */
    perspective: 1000px;
  }
}

.c-card {
  display: flex;
  flex-direction: column;
  gap: var(--4);
  padding: var(--16) var(--4);
  max-inline-size: calc(var(--28) * 5);
  width: 100%;

  @media (width >= 48rem) {
    gap: var(--8);
    padding: var(--0);
  }
}

/* ========== LAYOUT ========== */

.o-card_inner {
  display: flex;
  flex-direction: column;
  gap: var(--4);

  @media (width >= 48rem) {
    gap: var(--6);
  }
}

/* ========== UTILITIES ========== */

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
