/* #region = GLOBAL */
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-rendering: optimizeSpeed;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;

  overflow-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

/* #endregion = GLOBAL */

/* #region = FONTS */
/* #endregion = FONTS */

/* #region = COMPONENTS */
/* #endregion = COMPONENTS */

/* #region = LAYOUT */
/* #endregion = LAYOUT */

/* #region = UTILITIES */
/* #endregion = UTILITIES */
